<launch>
	<node name="rolCtrl" pkg="sys_ctrl" type="rolCtrl" output="screen"/>
	<node name="pchCtrl" pkg="sys_ctrl" type="pchCtrl" output="screen"/>
	<!-- <node name="yawCtrl" pkg="sys_ctrl" type="yawCtrl" output="screen"/> -->
	<node name="mix_motors" pkg="sys_ctrl" type="mixMotors"/>
	<node name="alt_ctrl" pkg="sys_ctrl" type="altCtrl"/>
</launch>
